Web based Dashboard for COVID-19 Twitter Sentiment Analysis.json
[{"id":"d64bfadf.c2edc8","type":"tab","label":"MyCovid Project","disabled":false,"info":""},{"id":"f443c4d6.ce7f88","type":"twitter in","z":"d64bfadf.c2edc8","twitter":"","tags":"#coronavirus,#COVID19","user":"false","name":"","inputs":0,"x":90,"y":60,"wires":[["4f35e4bd.68deec"]]},{"id":"8ef16132.d0f4","type":"switch","z":"d64bfadf.c2edc8","name":"Comparision","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":420,"wires":[["d2cc4679.d64a38"],["16c89c61.db2dc4"],["e0639c48.ede5"]]},{"id":"d2cc4679.d64a38","type":"change","z":"d64bfadf.c2edc8","name":"Negative","rules":[{"t":"set","p":"payload","pt":"msg","to":"Anger","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":380,"wires":[["91a073f9.4124a"]]},{"id":"16c89c61.db2dc4","type":"change","z":"d64bfadf.c2edc8","name":"Neutral","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sadness","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["91a073f9.4124a"]]},{"id":"e0639c48.ede5","type":"change","z":"d64bfadf.c2edc8","name":"Positive","rules":[{"t":"set","p":"payload","pt":"msg","to":"Joy","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["91a073f9.4124a"]]},{"id":"8325ecd7.3024f","type":"delay","z":"d64bfadf.c2edc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":220,"wires":[["d856ed16.4f8f6","9b9f806f.af36d","af9b4c9e.e0dfd","41d8bcb8.6d6da4","8ef16132.d0f4","2f28d222.f20b7e"]]},{"id":"9b9f806f.af36d","type":"change","z":"d64bfadf.c2edc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[[]]},{"id":"14f92e19.71a482","type":"ui_gauge","z":"d64bfadf.c2edc8","name":"","group":"db8f83fc.7dbeb","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[]},{"id":"47bc1992.6e2488","type":"ui_chart","z":"d64bfadf.c2edc8","name":"","group":"24e1679d.3d50a8","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":730,"y":140,"wires":[[]]},{"id":"d856ed16.4f8f6","type":"change","z":"d64bfadf.c2edc8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["c985f4ad.1519d8","502bd81e.91bf38"]]},{"id":"c985f4ad.1519d8","type":"ui_text","z":"d64bfadf.c2edc8","group":"c3baaa3d.dc9478","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":730,"y":100,"wires":[]},{"id":"5ea367c4.5113e8","type":"ui_text","z":"d64bfadf.c2edc8","group":"2f6fde2d.1b8802","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload.document_tone.tones[0].tone_name}}","layout":"row-left","x":710,"y":340,"wires":[]},{"id":"4f35e4bd.68deec","type":"function","z":"d64bfadf.c2edc8","name":"Only English Language","func":"if (msg.lang === 'en') {\n  return msg;\n} else {\n  return null;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["39d25b6.871dca4","814cd324.99cb5"]]},{"id":"af9b4c9e.e0dfd","type":"function","z":"d64bfadf.c2edc8","name":"","func":"msg.payload = msg.tweet\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["89d917a6.94cdb8"]]},{"id":"89d917a6.94cdb8","type":"watson-tone-analyzer-v3","z":"d64bfadf.c2edc8","name":"","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2017-09-21","inputlang":"en","service-endpoint":"https://api.eu-gb.tone-analyzer.watson.cloud.ibm.com/instances/e532b622-6607-433c-9ce8-36afba9429d8","x":320,"y":320,"wires":[["4705cac3.480024"]]},{"id":"4705cac3.480024","type":"function","z":"d64bfadf.c2edc8","name":"","func":"msg.payload = msg.response;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":380,"wires":[["127e4ad8.b60d45","5ea367c4.5113e8","502bd81e.91bf38"]]},{"id":"127e4ad8.b60d45","type":"debug","z":"d64bfadf.c2edc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"502bd81e.91bf38","type":"cloudant out","z":"d64bfadf.c2edc8","name":"","cloudant":"","database":"twitterdata","service":"ciie-cloudant-1601444301880-83966","payonly":false,"operation":"insert","x":770,"y":280,"wires":[]},{"id":"84f1122a.a4e12","type":"cloudant in","z":"d64bfadf.c2edc8","name":"","cloudant":"","database":"twitterdata","service":"ciie-cloudant-1601444301880-83966","search":"_all_","design":"","index":"","x":1070,"y":80,"wires":[["b6302bb2.b830d8","913479dc.1f2ad8"]]},{"id":"9b2cb8da.3ba098","type":"inject","z":"d64bfadf.c2edc8","name":"Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":910,"y":80,"wires":[["84f1122a.a4e12"]]},{"id":"b6302bb2.b830d8","type":"function","z":"d64bfadf.c2edc8","name":"Convert","func":"var new_result = msg.payload;\nvar place ={};\nvar loc=[];\nvar senti=[];\nvar j=0;\nfor (var i in new_result)\n{\n    if(new_result[i].location!==null && new_result[i].location!==undefined )\n    {\n        senti[j]=new_result[i][\"sentiment\"][\"score\"];\n        loc[j]=new_result[i].location.place;\n        \n        j=j+1;\n        \n    }\n}\nplace={senti,loc};\n/*\nfor(var k=0; k<10; k++) \n{\n    place.push({senti: senti[k],loc: loc[k]});\n}*/\n/*var filteredplace = place.filter(function (el) { \n                return el !== null; \n            }); \nmsg.payload=filteredplace;*/\nmsg.payload=place;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":120,"wires":[["164788bd.f5cef7"]]},{"id":"164788bd.f5cef7","type":"debug","z":"d64bfadf.c2edc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":180,"wires":[]},{"id":"913479dc.1f2ad8","type":"function","z":"d64bfadf.c2edc8","name":"","func":"var new_result =msg.payload;\nvar countpositive=0;\nvar countnegative=0;\nvar countzero=0;\nfor (var i in new_result) {\n    if(new_result[i][\"sentiment\"][\"score\"]>0)\n    countpositive=countpositive+1;\n    else if(new_result[i][\"sentiment\"][\"score\"]<0)\n    countnegative=countnegative+1;\n    else\n    countcount=countzero+1;\n}\nvar m = [\n    {label:\"Positive\", payload:countpositive},\n    {label:\"Negative\", payload:countnegative},\n    {label:\"Neutral\", payload:countzero},\n    ];\n\nreturn [m];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":180,"wires":[["a14177fd.3bc358","432c91ec.92348"]]},{"id":"a14177fd.3bc358","type":"debug","z":"d64bfadf.c2edc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":220,"wires":[]},{"id":"432c91ec.92348","type":"ui_chart","z":"d64bfadf.c2edc8","name":"","group":"d929fb67.9be938","order":1,"width":0,"height":0,"label":"Twitter Sentiment Chart ","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0e3c5d","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":300,"wires":[[]]},{"id":"814cd324.99cb5","type":"function","z":"d64bfadf.c2edc8","name":"getdata","func":"if(msg.tweet.hasOwnProperty('coordinates'))\n{\n    //if(msg.tweet.coordinates!==null) \n    {\n        msg.payload={};\n        var m_p=msg.payload;\n        m_p.lat= Math.floor(Math.random() * (90 + 90) ) - 90;\n        m_p.lon= Math.floor(Math.random() * (180 + 180) ) + 180;\n        m_p.text = msg.tweet.text;\n        m_p.screen_name = msg.tweet.user.screen_name\n        m_p.name = msg.tweet.user.screen_name+'-'+msg.tweet.id;\n        m_p.id = msg.tweet.id;\n        m_p.created_at = msg.tweet.created_at;\n        delete(msg.tweet);\n        delete(msg.location);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":40,"wires":[["2cec6cf4.b22d94"]]},{"id":"2b8d3a91.4b8b56","type":"function","z":"d64bfadf.c2edc8","name":"","func":"if(msg.hasOwnProperty('sentiment')) {\nif(msg.sentiment.hasOwnProperty('score')) {\nif(msg.sentiment.score<0) {\nmsg.payload.icon='hostile';\n} else if (msg.sentiment.score>1) {\nmsg.payload.icon='friend';\n} else {\nmsg.payload.icon='neutral';\n}\nmsg.payload.sentiment = msg.sentiment.score;\nreturn msg;\n}\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":40,"wires":[["6474b694.628d98"]]},{"id":"41d8bcb8.6d6da4","type":"join","z":"d64bfadf.c2edc8","name":"","mode":"custom","build":"array","property":"sentiment.score","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":220,"wires":[["4084439.2ffadbc","7e9fb9dd.2db128"]]},{"id":"4084439.2ffadbc","type":"function","z":"d64bfadf.c2edc8","name":"","func":"var scores = msg.sentiment.score;\nvar posMsg = {\n    topic: \"Positive\",\n    payload: 0\n}\nvar negMsg = {\n    topic: \"Negative\",\n    payload: 0\n}\nfor (var i=0; i < scores.length; i++) {\n    var score = scores[i];\n    if (score > 0) {\n        posMsg.payload = posMsg.payload + score\n    } else {\n        negMsg.payload = negMsg.payload + score\n    }\n}\nreturn [[posMsg, negMsg]];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":220,"wires":[["47bc1992.6e2488"]]},{"id":"7e9fb9dd.2db128","type":"function","z":"d64bfadf.c2edc8","name":"","func":"var scores = msg.sentiment.score;\nvar avg = 0;\nvar score=0;\nfor (var i=0; i < scores.length; i++) {\n    score = score + scores[i];\n}\navg =score/scores.length;\nmsg.payload=avg;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":280,"wires":[["14f92e19.71a482","9f545927.3a5928","502bd81e.91bf38"]]},{"id":"9f545927.3a5928","type":"debug","z":"d64bfadf.c2edc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":320,"wires":[]},{"id":"91a073f9.4124a","type":"debug","z":"d64bfadf.c2edc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":420,"wires":[]},{"id":"2f28d222.f20b7e","type":"watson-text-to-speech","z":"d64bfadf.c2edc8","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"en-GB_KateVoice","format":"audio/wav","password":"ecSspTWx6w1V0AfS9uGA6mOldVO1NxFvkHsDdVHT_u87","apikey":"ecSspTWx6w1V0AfS9uGA6mOldVO1NxFvkHsDdVHT_u87","payload-response":false,"service-endpoint":"","x":940,"y":340,"wires":[["398d29bd.ec5976"]]},{"id":"39d25b6.871dca4","type":"sentiment","z":"d64bfadf.c2edc8","name":"","property":"payload","x":160,"y":160,"wires":[["8325ecd7.3024f"]]},{"id":"2cec6cf4.b22d94","type":"sentiment","z":"d64bfadf.c2edc8","name":"","property":"payload.text","x":440,"y":20,"wires":[["2b8d3a91.4b8b56"]]},{"id":"6474b694.628d98","type":"worldmap","z":"d64bfadf.c2edc8","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":740,"y":40,"wires":[]},{"id":"398d29bd.ec5976","type":"play audio","z":"d64bfadf.c2edc8","name":"","voice":"4","x":1150,"y":340,"wires":[]},{"id":"b153ec91.54c8b","type":"inject","z":"d64bfadf.c2edc8","name":"Init Dashboard","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"true","payloadType":"bool","x":740,"y":420,"wires":[["f66c19a3.0be458"]]},{"id":"f66c19a3.0be458","type":"function","z":"d64bfadf.c2edc8","name":"Inject /worldmap","func":"msg.payload = \"/worldmap\";\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.org/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 19, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command =   {\n                        layer:\"Esri\",\n                        lat:18.44081,\n                        lon:-66.08068,                        \n                        zoom:2,\n                        map: {name:\"Esri\", url:u, opt:o},\n                        };\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":420,"wires":[["af2c57d0.77d628"]]},{"id":"af2c57d0.77d628","type":"template","z":"d64bfadf.c2edc8","name":"Add Map to Dashboard","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src={{{payload}}} height=624px width=768px></iframe>","x":1110,"y":420,"wires":[["fc71ff4a.66c96"]]},{"id":"fc71ff4a.66c96","type":"ui_template","z":"d64bfadf.c2edc8","group":"8e57a51e.ee7278","name":"Embedded Map","order":2,"width":16,"height":6,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1080,"y":460,"wires":[[]]},{"id":"db8f83fc.7dbeb","type":"ui_group","z":"","name":"Average Tweet Sentiment Meter for 10s Time Period","tab":"26e82e7e.932ef2","order":4,"disp":true,"width":7,"collapse":false},{"id":"24e1679d.3d50a8","type":"ui_group","z":"","name":"Aggregate Sentiment Value per 10s Time Period","tab":"26e82e7e.932ef2","order":3,"disp":true,"width":13,"collapse":false},{"id":"c3baaa3d.dc9478","type":"ui_group","z":"","name":"Tweets","tab":"26e82e7e.932ef2","order":1,"disp":true,"width":"13","collapse":false},{"id":"2f6fde2d.1b8802","type":"ui_group","z":"","name":"Tone of the Tweet","tab":"26e82e7e.932ef2","order":2,"disp":true,"width":"7","collapse":false},{"id":"d929fb67.9be938","type":"ui_group","z":"","name":"Twitter Sentiment Chart","tab":"1b6abcde.2a2503","order":2,"disp":true,"width":11,"collapse":false},{"id":"8e57a51e.ee7278","type":"ui_group","z":"","name":"Global Tweet Map","tab":"1b6abcde.2a2503","order":1,"disp":true,"width":"16","collapse":false},{"id":"26e82e7e.932ef2","type":"ui_tab","z":"","name":"Web based Dashboard for COVID-19 Twitter Sentiment Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1b6abcde.2a2503","type":"ui_tab","z":"","name":"COVID Historical Analysis","icon":"dashboard","disabled":false,"hidden":false}]